<% if @restaurants.any? %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><h3>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= restaurant.description %> Average Rating: <%= restaurant.average_rating %><br>
      <% unless (current_user.nil?) || (current_user.has_reviewed? restaurant) %>
      <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %><br>
      <% end %>
      <% unless (current_user.nil?) || (current_user.id != restaurant.user_id) %>
      <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %><br>
      <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
      <% end %>
    </h3></li>
  <% end %>
<% else %>
  No restaurants yet
<% end %>
</ul>
<%= link_to('Add a restaurant', new_restaurant_path) %>
